.header {
	--primary: white;
	--secondary: black;

	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	width: 100%;
	padding: 0.5em 1.5em;
	z-index: 3;
	
	&:hover::before {
		transform: translateY(0);
	}
	&:hover div {
		color: var(--primary);
	}
	&::before { 
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: var(--secondary);
		transform: translateY(-100%);
		transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		z-index: -1;
	}
	&__menu {
		display: flex;
		gap: 0.5em;
		
		&_icon {
			transition: all .1s;
			&:hover {
				scale: 1.1;
			}
		}
		&_title {
			text-decoration: underline;
		}
	}
	&__wallet {
		border: 1px solid var(--secondary);
		border-radius: 3em;
		padding: 0.2em 0.5em;
	}
	&__logo_center {
		
	}

	div {
		margin-block: 1rem;
	}
}
